<!--Header Part-->
<app-header></app-header>
<div class="container-fluid pt-1 mb-5" style="height:556px;">
    <div class="row">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
          <li class="breadcrumb-item"><a><strong>Review Approval</strong></a></li>
        </ol>
      </nav>
    </div>
  <div style="margin-top: 4%;">
    <div  class="indent_title" >New Product Feedback Summary</div>
    <div class="mini_cart">
      <table 
        class="ecommerce-links table table-hover text-center">
        <thead>
           
          <tr class="table-primary"> 
            <th>VARIANT_NUMBER</th>
            <th>DEALER</th>
            <th>RS</th>
            <th>SO</th>
            <th>RE</th>
            <th>ABM</th>
            <th>RATING</th>
            <th>FEEDBACK</th>
            <th>FEEDBACK BY</th>
            <th>FEEDBACK DATE</th>
            <th>USER TYPE</th>
          </tr>
        </thead>
        <tr>
          <td>
            <span class="qty">2593SL04</span>
          </td>
          <td>
            <span class="qty">Zimson Times (P) Ltd</span>
          </td>
          <td>
            <span class="qty">RS001</span>
          </td>
          <td>
            <span class="qty">E0832044</span>
          </td>
          <td>
            <span class="qty">E178657</span>
          </td>
          <td>
            <span class="qty">E1767173</span>
          </td>
          <td>
            <span class="qty">5</span>
          </td>
          <td>
            <span class="qty">Very strong watch</span>
          </td>

          <td>
            <span class="qty">Niraj Prasad</span>
          </td>
         
          <td>
            <span class="qty">28-08-2020</span>
          </td>
          <td>
            <span class="qty">SALES Officer</span>
          </td>
        </tr>

        <tr>
            <td>
                <span class="qty">2593SM04</span>
            </td>
            <td>
              <span class="qty">Zimson Times (P) Ltd</span>
            </td>
            <td>
              <span class="qty">RS001</span>
            </td>
            <td>
              <span class="qty">E0832044</span>
            </td>
            <td>
              <span class="qty">E178657</span>
            </td>
            <td>
              <span class="qty">E1767173</span>
            </td>
            <td>
              <span class="qty">5</span>
            </td>
            <td>
              <span class="qty">Very light and soft touch watch</span>
            </td>
  
            <td>
              <span class="qty">Niraj Prasad</span>
            </td>
           
            <td>
              <span class="qty">28-08-2020</span>
            </td>
            <td>
              <span class="qty">SALES Officer</span>
            </td>
          </tr>
          <tr>
            <td>
                <span class="qty">2593WM02</span>
            </td>
            <td>
              <span class="qty">Zimson Times (P) Ltd</span>
            </td>
            <td>
              <span class="qty">RS001</span>
            </td>
            <td>
              <span class="qty">E0832044</span>
            </td>
            <td>
              <span class="qty">E178657</span>
            </td>
            <td>
              <span class="qty">E1767173</span>
            </td>
            <td>
              <span class="qty">5</span>
            </td>
            <td>
              <span class="qty">Very light and soft touch watch</span>
            </td>
  
            <td>
              <span class="qty">Niraj Prasad</span>
            </td>
           
            <td>
              <span class="qty">28-08-2020</span>
            </td>
            <td>
              <span class="qty">SALES Officer</span>
            </td>
          </tr>
          <tr>
            <td>
                <span class="qty">2593YL03</span>
            </td>
            <td>
              <span class="qty">Zimson Times (P) Ltd</span>
            </td>
            <td>
              <span class="qty">RS001</span>
            </td>
            <td>
              <span class="qty">E0832044</span>
            </td>
            <td>
              <span class="qty">E178657</span>
            </td>
            <td>
              <span class="qty">E1767173</span>
            </td>
            <td>
              <span class="qty">5</span>
            </td>
            <td>
              <span class="qty">Very light and soft touch watch</span>
            </td>
  
            <td>
              <span class="qty">Niraj Prasad</span>
            </td>
           
            <td>
              <span class="qty">28-08-2020</span>
            </td>
            <td>
              <span class="qty">SALES Officer</span>
            </td>
          </tr>
      </table>
     
    </div>
  </div>
</div>
<!--Footer Part-->
<app-footer></app-footer>