
table{
    color:#989898;
    font-size: 14px;
    font-weight: bold;
    margin:0;
}
.table-primary, .table-primary > th, .table-primary > td {
    background-color:#2b4663;
}
.table thead th {
    border-right: 1px solid #d4d4d4;
}
.mini_cart{
    border: 1px solid #d4d4d4;
}

.no_item{
    padding: 4%;
    color: red;
    font-size: 16px;
    line-height: 30px;
}
.indent_title{
    font-size: 22px;
    text-align: center;
    padding-bottom: 20px;
}