.cnt_body {
  min-height: 77.4vh;
}
.u_abmorder {
  margin: auto;
  text-align: center;
  padding: 50px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.gap_ra {
  margin-right: 10px;
  margin-top: -20px;
}
.checkboxes {
  margin-top: -20px;
}
.checkboxgroup {
  display: inline-block;
  text-align: center;
  padding: 0.5rem;
}
.checkboxgroup label {
  display: block;
}
.mandatoryfiles {
  color: red;
}
.bt_soupload {
  padding: 4px 16px;
  border-radius: 4px;
}
.alert-danger {
  background: #fff;
  color: red;
  text-align: left;
  padding-left: 21px;
}
.close {
  padding-right: 5px;
}
.progress {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.upload_body {
  width: 60%;
  height: 40%;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 99;
  top: 40%;
  left: 50%;
  bottom: 0;
  right: 0;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding-top: 20px;
}
.sotitle {
  text-align: center;
  font-size: 15px;
  color: brown;
}
.success_msg {
  color: red;
}
@media screen and (max-width:360px) {
  button {
    float: left!important;
    margin: 12px 20px;
  }
  .md_box {
    height: auto;
  }
}
